.hero{
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #C4c4c4;
    }
.hero-title {   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
    margin-bottom: 30px;
    }
.button-hero{
    padding: 10px 32px;
    border: none;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-light-color); 
    cursor: pointer; 
    transition-property: bacground;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.button-hero:hover, .button-hero:focus{
    background: var(--brand-color-hover);
    }       
